# Database Configuration (Neon PostgreSQL Cloud Instance)
DATABASE_URL="postgresql://neondb_owner:npg_KpuaCXfL0cO5@ep-quiet-grass-a8z1bhyy.eastus2.azure.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_KpuaCXfL0cO5@ep-quiet-grass-a8z1bhyy.eastus2.azure.neon.tech/neondb?sslmode=require"

# Authentication (NextAuth v5)
AUTH_SECRET="dayflow_hrms_development_secret_key_32bytes_minimum_length"
NEXTAUTH_SECRET="dayflow_hrms_development_secret_key_32bytes_minimum_length"
AUTH_TRUST_HOST=true
NEXTAUTH_URL="http://localhost:3000"

# Application Config
NEXT_PUBLIC_APP_NAME="Dayflow HRMS"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Email Configuration (Resend) - Optional / Phase 2
# RESEND_API_KEY="re_123456789"
# EMAIL_FROM="Dayflow HRMS <noreply@dayflow.app>"
